---
layout: default
title: Home
---

<div class="container">
  <h4>All Tags</h4>

  <!-- TODO order tags -->
  {% for tag in site.tags %}
    <a href="#{{ tag[0] }}" class="badge badge-pill badge-light">{{ tag[0] }}</a>
  {% endfor %}
</div>

<p>
</p>

<div class="container">
  <h4>Posts by Tags</h4>

  {% for tag in site.tags %}
    <a name="{{ tag[0] }}" />
  	<h5>{{ tag[0] }}</h5>
  	<ul>
  		{% for post in tag[1] %}
        <li><small>[ {{ post.date | date: '%B %d, %Y' }} ]</small> <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
  		{% endfor %}
  	</ul>
  {% endfor %}
</div>
