<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3088225-6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-3088225-6');
  </script>

  <title>{{ page.title }} :: {{ site.title }}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Personal blog of Libor, Libor Kramoliš.">
  <meta name="keywords" content="blog">
  <meta name="author" content="Libor Kramoliš">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary sticky-top">
    <div class="container">
      <a class="navbar-brand" href="/"><strong>Y</strong>et <strong>A</strong>nother <strong>TE</strong>ch b<strong>L</strong>og</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          {% for item in site.data.menu.items %}
            {% assign active = false %}
            {% if item.url == '/' %}
              {% if page.url == '/' %}
                {% assign active = true %}
              {% elsif page.url == '/' %}
                {% assign active = true %}
              {% endif %}
            {% else %}
              {% if page.url contains item.url %}
                {% assign active = true %}
              {% endif %}
            {% endif %}
            <li class="nav-item {% if active %}active{% endif %}">
              <a class="nav-link" href="{{ item.url }}">{{ item.title }}{% if active %}<span class="sr-only">(current){%endif %}</a>
            </li>
          {% endfor %}
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="http://yatel.kramolis.cz">Old Blog</a>
          </li>
          <li class="nav-item my-auto">
            <a class="nav-link" style="padding-top: 0; padding-bottom: 0;" href="http://libor.kramolis.cz">
              <img src="/assets/shamoh.jpg" alt="Libor Kramoliš" class="rounded-circle" style="width: 24px"/>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div role="main" class="container">
    {{ content }}
  </div>

  <footer class="bg-primary text-white footer">
    <div class="container">
      <span class="float-right">
        <a href="#top" class="text-white">&#x25B2;</a>
      </span>
      <span>
        &#x00A9; {{ site.email }} 2018
      </span>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
